body{
    margin: 0;
    /* background-color: #ff5310; */
    /* background-color: #FF5B00; */
    /* background-color: rgb(255, 91, 0); */
}
#nav{
    background-color: rgb(223, 223, 226);
    margin:0 0 0 0;
    height: 50px;
    color: white;
    display: flex;
    padding: 0em;
}
h1{
    margin-top: 1px; 
    margin-left: 10px; 
}
#inp{
    margin-left: 22em;
    margin-bottom: 3px;
    width: 325px;
    height: 40px;
    border: none;
    border-radius: 25px;
    margin-top: 6px;
    padding: 20px;
    
}
.srch{
    
    color: rgb(37, 64, 255);
}
#bt{
    width: 35px;
    height: 39px;
    background-color: transparent;
    transform: rotate(20deg);
    border-radius: 25px;
    margin-left: -47px;
    margin-top: 7px;
    font-weight:normal;
    font-size: 27px;
    border: none;
}
#bt-ad{
    margin-left: 33em;
    border-radius: 100%;
    margin-top: 3px;
    height: 44px;
    border: none;
}
#main{
    margin: 0px 0 0 208px;
    height: 50px;
   border: 1px solid rgb(240, 233, 233);
    width: 1017px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
   
}
.crt{
    display: flex;
    height: 32px;
    width: 9%;
    white-space: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 1px 0 0 3px;
    padding-left: 12px;
    padding-right: 12px;
    outline: transparent;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    /* background-color: rgb(191, 204, 214); */
    background-color: rgb(0, 120, 212);
    cursor: pointer;
}
.crt:hover{
cursor: pointer;

}

.upld{
    
    display: flex;
    height: 32px;
    width: 9%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 1px 0 0 14px;
    padding-right: 1px;
    outline: transparent;
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(0, 120, 212);
}

.fld{
    cursor: pointer;
     margin-left: 7px;
     margin-top: 3px;
     stroke-width: 0;
     font-size: 18px;
}
.ld{
    cursor: pointer;
    margin-left: 7px;
    margin-top: 4px;
    font-size: 18px;
}
.dwn{
    margin-left: 1em;
    font-size: 18px;
}


.dpdwn{
    display: grid;
   padding: 0 1em 1em 1em;
    font-weight: bold;
    width: 6%;
    border: none;
    border-radius: 4px;
    margin: 110px 0 0 -93px;
    cursor: pointer;
    background-color: rgb(0, 120, 212);
}
.dd-btn{
border: none;
margin: 11px 0 0 0;
color: white;
padding: 1px;
cursor: pointer;
font-weight: bold;
background-color: transparent;
}
/********** home **********/
.grp{
    padding: 0 2px;
}

li{
    list-style-type: none; 
}
.lst-div{
   margin: 1px 0 1px 10px;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
    color: rgb(36, 36, 36);
    border-radius: 4px;
}
.header{
   /* position: fixed; */
   position: absolute;
   top: 65px;
   left: 40px;
    margin:2px 0 0 0;
}
.lst-icn{
    
    margin:1px 0 0 -110px;
    padding: 0;
}
.lst-txt{
    margin-left: 20px;
}
.lst-icn1{
    
    margin:1px 0 0 -110px;
    padding: 0;
}
.lst-txt1{
    margin-left: 58px;
}
.lst-icn2{
    
    margin:1px 0 0 -110px;
    padding: 0;
}
.lst-txt2{
    margin-left: 58px;
}
.lst-icn3{
    
    margin:1px 0 0 -110px;
    padding: 0;
}
.lst-txt3{
    margin-left: 58px;
}
.sidebar {
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0;
   
    overflow-x: hidden;
    padding-top: 16px;
   
  }
  .icn{
    /* position: fixed; */
    position: absolute;
    left: 32px;
    margin-top: 1em;
    top: 27px;
    font-size: 14px;
  }
  .icn1{
    /* position: fixed; */
    position: absolute;
    left: 32px;
    margin-top: 2em;
    top: 57px;
    font-size: 14px;
  }
  .icn2{
    /* position: fixed; */
    position: absolute;
    left: 32px;
    top: 89px;
    margin-top: 3em;
    font-size: 14px;
  }
  .icn3{
    /* position: fixed; */
    position: absolute;
    left: 32px;
    top: 119px;
    margin-top: 4em;
    font-size: 14px;
  }
  #side{
    margin: -51px 0 0 0em;
    height: 640px;
    border: none;
    width: 200px;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
}
  
  /* Style sidebar links */
  .sidebar #a {
    margin-top: 1em;
    padding: 6px 8px 6px 65px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: block;
  }
  .sidebar #a1 {
    margin-top: 1em;
    padding: 6px 8px 6px 65px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: block;
  }
  .sidebar #a2 {
    margin-top: 1em;
    padding: 6px 8px 6px 60px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: block;
  }
  .sidebar #a3 {
    margin-top: 1em;
    padding: 6px 8px 6px 60px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: block;
  }
  .a-div{
    
  
    border: none;
  }
  .a-div:hover {
  
   border-radius: 4px;
    border: none;
    text-decoration: none;
    
    background-color: #d5d3d3;
    
  }
  .storage{
    position: relative;
    top: 35em;
    left: 0em;
    padding: 5px 0 0 50px;
    width: 196px;
    box-sizing: border-box;
    border-top: 1px solid grey;
    cursor: pointer;
  }
  .storage:hover{
    border-radius: 4px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: #d5d3d3;
  }
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }

  /*  Login Page *********/
  .login{
    width: 100%;
    height: 597px;
    background-image: url('https://img.freepik.com/free-vector/blue-polygonal-shapes-background_1053-434.jpg?w=740&t=st=1681663812~exp=1681664412~hmac=49a2c6e2f2177c3e2a838c80366c2f37ac7188ccfd9625c9db9a69d796873535');
  }
  .frm-header{
    background-color: #4bd9c2 !important;
    width: 114px;
    height: 35px;
    margin: 0em 0em 0em 0em;
    padding: 1em 0 0 24em;
    display: flex;
     }
  .img{
    position: relative;
    height: 50px;
    top: -1em;
    left: -10em;
  }
.frm-cont{
    position: relative;
    top: 5em;
    left: 43em;
    width: 500px;
    height: 400px;
    box-sizing: border-box;
    border-radius: 4px;
    border:1px solid cyan;
}
.name{
    
        margin: 30px 0 0 100px;
   
}
  .inp-email{
    margin: 21px 0 0 100px;
}
.inp-pswd{
    margin: 21px 0 0 100px;
}
#name{
    margin-top: 1em;
    margin-left:62px;
}
#email{
    margin-top: 1em;
    margin-left:66px;
}
#password{
    margin-left:38px;
    margin-top: 1em;
}
#remember-me{
    margin-left: 100px;
    margin-top: 2em;
}
.chk{
    margin-left: 10px;
    margin-top: 2em; 
}
.reg-div{
    margin:1em;
}
.frm-footer{
    background-color: #4bd9c2 !important;
    width: 114px;
    height: 35px;
    margin: 3em 0em 0em 0em;
    padding: 1em 0 0 24em;
    display: flex;
     }

  
  .form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 0.5em;
    margin-bottom: 0.125rem;
}

.frm-btn{
    border:none;
    border-radius: 10px;
    width: 100px;
    height: 32px;
    font-weight: bold;
    color: white;
    margin: 0em 0 4px -17em;
    background-color: rgb(45, 130, 128);
}
.frm-btn1{
    border:none;
    border-radius: 10px;
    width: 100px;
    font-weight: bold;
    color: white;
    margin: 0em 0 4px -8em;
    background-color: rgb(45, 130, 128);
}
@media only screen and (max-width: 768px) {
    .reg-div{
        display: flex;
    white-space: nowrap;
        margin:5em;
    }
    .frm-footer{
       
        width: 664px;
        height: 56px;
        margin: 1em 0em 4.7em -16.2em;
        padding: 1em 0 0 24em;
        display: flex;
    }
    .inp-email {
        margin: -90px 0 0 5px;
    }
      
}
/* modal css */
.modal{
    position: relative;
    top: 1em;
    left: 20em;
    width: 30%;
    height: 100px;
    box-sizing: border-box;
    border: black;
    color: black;
    border-radius: 5px;
   background-color: #bbbbbb;
   cursor: pointer;
   
}
.cls{
    position: relative;
    bottom: 2em;
    background-color: transparent;
    left: 26.4em;
    font-weight: bolder;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}
.choose{
    position: relative;
    top:2em;
    left:5px;
    cursor: pointer;
}
.ul{
    position: relative;
    top:2em;
    cursor: pointer;
   
}

@media only screen and (max-width: 600px) {
    .reg-div{
        display: flex;
    white-space: nowrap;
        margin:5em;
    }
    .frm-footer{
       
        width: 664px;
        height: 56px;
        margin: 1em 0em 4.7em -16.2em;
        padding: 1em 0 0 24em;
        display: flex;
    }
    .inp-email {
        margin: -90px 0 0 5px;
    }
      
}

  